<%- include('partials/header') %> 

<h1>Welcome to the Home Page</h1>

<img src="https://i1.wp.com/bowtiepomsky.com/wp-content/uploads/2020/01/puppy178-week3-BowTiePomsky.com-Bowtie-Pomsky-Puppy-For-Sale-Husky-Pomeranian-Mini-Dog-Spokane-WA-Breeder-Blue-Eyes-Pomskies-Celebrity-Puppy-web7-scaled.jpg?w=1080&ssl=1" alt="">

<%- include('partials/footer') %> 